[run]
branch = true
source = unicef_restlib

[report]
fail_under = 94
ignore_errors = True
exclude_lines =
   pragma: no cover

[html]
directory = build/coverage
title = UNICEF Restlib Coverage report
